<%- include('partials/header') -%>

<div class="container my-5">
    <div class="row">
        <div class="col-md-8 col-sm-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center display-4">Edit Post</h5>
                    <h5 class="card-text text-center"><strong>Existing Title</strong> - "<%= post.title %>"</h5>
                    <div class="container mt-4">
                        <form action = '/posts/<%= post._id %>?_method=PUT' method = 'POST'>
                            <div class="form-group">
                                <label for="imageURL">Enter ImageURL <span style="color: red;">*</span></label>
                                <input type="text" name = 'image' class="form-control" id="imageURL" value="<%= post.image %>">
                            </div>
                            <div class="form-group">
                                <label for="PostTitle">Enter Title <span style="color: red;">*</span></label>
                                <input type="text" name = 'title' class="form-control" id="PostTitle" value="<%= post.title %>">
                            </div>
                            <div class="form-group">
                                <label for="PostTitle">Enter Description</label><br>
                                <textarea rows="5" name = 'description' style="width: 100%;"><%= post.description %></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-warning">Edit Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
